doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='mobile-web-app-capable', content='yes')
		link(href='bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
		link(href='css/main.css', rel='stylesheet')
		title Chat App
	body
		section
			.container
				.row
					.col-lg-6.text-center
						h1
							| Send a message!
						#chat-wrapper
						input#message-input.form-control(type='text', placeholder='Message')
						button.btn.btn-success.btn-lg#send Send
		script(src='bower_components/jquery/dist/jquery.min.js')
		script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
		script(src='https://cdn.socket.io/socket.io-1.4.5.js')
		script(src='js/main.js')